.App {
  text-align: center;
  overscroll-behavior: contain;
  position: relative; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  height: 60px;
  background: linear-gradient(-0.55turn, #ff9fa3, #f76066);
  padding: 20px;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1; }

.fa-bars {
  font-size: 20px; }

@media screen and (max-width: 450px) {
  .App-header {
    background: linear-gradient(-0.55turn, #ff9fa3, #f76066);
    display: flex; } }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.push-btn {
  position: absolute;
  top: 100px;
  left: 10px; }

.toggle-push {
  position: absolute;
  top: 62px;
  left: 50px;
  background: red;
  height: 30px;
  left: 100px; }

.offline-section {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  background: #af1826;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold; }
