.result-container {
  // background: #f7f7f7;
  // background-image: url(https://images.unsplash.com/photo-1507400492013-162706c8c05e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=909&q=80);
  background: #262c36;
  background-size: contain;
  height: 100%;
  width: 100%;
  background-position: 100% 100%;
  padding-top: 62px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  .preference-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 70px 60px 0px 60px;
    @media screen and (max-width: 450px) {
      margin: 0;
      top: 70px;
      right: 5px;
    }
    select {
      height: 26px;
      background: transparent;
    }
  }
  .results-main {
    justify-content: space-around;
    display: flex;
    margin: 10px 20px;
    padding: 5px;
    @media screen and (max-width: 450px) {
      flex-direction: column;
      align-items: center;
    }
    .result-filter {
      width: 20%;
      margin-right: 20px;
      box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.1);
      max-height: 700px;
      // position: fixed;
      left: 15px;
      overflow-y: auto;
      background: linear-gradient(-0.55turn, #ff9a9e, #fad0c4);
      color: #062230;
      position: sticky;
      top: 60px;
      @media screen and (max-width: 450px) {
        width: 100%;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        z-index: 2;
        background: linear-gradient(-0.55turn, #ff9a9e, #fad0c4);
        color: #000;
      }
    }
    .color-selected {
      background-color: #ef7e7f87 !important;
    }
    .right-panel {
      width: 80%;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 450px) {
        width: 100%;
      }
      .action-layer-1 {
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 450px) {
          justify-content: space-between;
        }

        .toggle-pip {
          height: 30px;
          padding-left: 5px;
          padding-right: 5px;
          background: black;
          color: #fff;
          font-weight: bold;
          border-radius: 5px;
          justify-self: flex-end;
          margin-bottom: 10px;
          width: 200px;
          align-self: flex-end;
          box-shadow: 0px 0px 2px 3px #ffa2c5;
          @media screen and (max-width: 450px) {
            width: 100px;
          }
        }
      }
      #video-demo {
        width: 100%;
        height: 400px;
        margin-bottom: 15px;
        @media screen and (max-width: 450px) {
          height: 200px;  
        }
      }
      .items-container {
        display: grid;
        list-style: none;
        grid-template-columns: repeat(4, 250px);
        grid-row-gap: 20px;
        grid-template-rows: repeat(auto-fill, 220px);
        justify-content: center;
        @media screen and (max-width: 450px) {
          grid-template-columns: repeat(1, 100%);
          justify-content: center;
        }
        .item {
          padding: 5px;
          border-radius: 5px;
          position: relative;
          list-style: none;
          background: #fff;
          width: 200px;
          box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.1);
          transition: top 1s;
          transition-timing-function: ease-in;
          justify-self: center;
          border: 2px solid transparent;
          height: 220px;
          .img-container {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: calc(100% - 82px);
          }
          &:hover {
            transform: scale(1.05);
          }
          @media screen and (max-width: 450px) {
            width: 85%;
            border-radius: 5px;
          }
          .mrp-section {
            background-color: rgb(244, 243, 242);
            color: #231f20;
            font: 14px ProximaNovaA-Regular;
            position: absolute;
            bottom: 0px;
            bottom: 0px;
            right: 0px;
            left: 0;
            padding: 5px;
            .price-section {
              margin-bottom: 5px;
              font-weight: bold;
            }
            .disc-price {
              color: #6e6e71;
              text-decoration: line-through;
              margin-right: 10px;
            }
            .org-price {
              font-weight: bold;
            }
            .add-item-section {
              font-size: 14px;
              .act-btn {
                font-size: 14px;
                display: inline-block;
                width: 19px;
                border: 1px solid;
                border-radius: 5px;
                cursor: pointer;
                background: #c84258;
                color: #fff;
                font-weight: bold;
              }
              .quantity-sec {
                display: inline-block;
                min-width: 20px;
                margin-left: 1px;
                margin-right: 1px;
              }
            }
          }
          .brand {
            color: #999;
            text-align: center;
            font: 11px ProximaNovaA-Regular;
            margin-bottom: 2px;
          }
          .desc {
            color: #000;
            font: 13px ProximaNovaA-Regular;
            text-align: center;
            position: relative;
          }
          .fa-share-alt {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
