.result-container {
  background: #262c36;
  background-size: contain;
  height: 100%;
  width: 100%;
  background-position: 100% 100%;
  padding-top: 62px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.result-container .preference-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 70px 60px 0px 60px; }

@media screen and (max-width: 450px) {
  .result-container .preference-container {
    margin: 0;
    top: 70px;
    right: 5px; } }

.result-container .preference-container select {
  height: 26px;
  background: transparent; }

.result-container .results-main {
  justify-content: space-around;
  display: flex;
  margin: 10px 20px;
  padding: 5px; }

@media screen and (max-width: 450px) {
  .result-container .results-main {
    flex-direction: column;
    align-items: center; } }

.result-container .results-main .result-filter {
  width: 20%;
  margin-right: 20px;
  box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.1);
  max-height: 700px;
  left: 15px;
  overflow-y: auto;
  background: linear-gradient(-0.55turn, #ff9a9e, #fad0c4);
  color: #062230;
  position: sticky;
  top: 60px; }

@media screen and (max-width: 450px) {
  .result-container .results-main .result-filter {
    width: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 2;
    background: linear-gradient(-0.55turn, #ff9a9e, #fad0c4);
    color: #000; } }

.result-container .results-main .color-selected {
  background-color: #ef7e7f87 !important; }

.result-container .results-main .right-panel {
  width: 80%;
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 450px) {
  .result-container .results-main .right-panel {
    width: 100%; } }

.result-container .results-main .right-panel .action-layer-1 {
  display: flex;
  justify-content: flex-end; }

@media screen and (max-width: 450px) {
  .result-container .results-main .right-panel .action-layer-1 {
    justify-content: space-between; } }

.result-container .results-main .right-panel .action-layer-1 .toggle-pip {
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  background: black;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  justify-self: flex-end;
  margin-bottom: 10px;
  width: 200px;
  align-self: flex-end;
  box-shadow: 0px 0px 2px 3px #ffa2c5; }

@media screen and (max-width: 450px) {
  .result-container .results-main .right-panel .action-layer-1 .toggle-pip {
    width: 100px; } }

.result-container .results-main .right-panel #video-demo {
  width: 100%;
  height: 400px;
  margin-bottom: 15px; }

@media screen and (max-width: 450px) {
  .result-container .results-main .right-panel #video-demo {
    height: 200px; } }

.result-container .results-main .right-panel .items-container {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 250px);
  grid-row-gap: 20px;
  grid-template-rows: repeat(auto-fill, 220px);
  justify-content: center; }

@media screen and (max-width: 450px) {
  .result-container .results-main .right-panel .items-container {
    grid-template-columns: repeat(1, 100%);
    justify-content: center; } }

.result-container .results-main .right-panel .items-container .item {
  padding: 5px;
  border-radius: 5px;
  position: relative;
  list-style: none;
  background: #fff;
  width: 200px;
  box-shadow: 0 0.5em 1.5em 0 rgba(0, 0, 0, 0.1);
  transition: top 1s;
  transition-timing-function: ease-in;
  justify-self: center;
  border: 2px solid transparent;
  height: 220px; }

.result-container .results-main .right-panel .items-container .item .img-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: calc(100% - 82px); }

.result-container .results-main .right-panel .items-container .item:hover {
  transform: scale(1.05); }

@media screen and (max-width: 450px) {
  .result-container .results-main .right-panel .items-container .item {
    width: 85%;
    border-radius: 5px; } }

.result-container .results-main .right-panel .items-container .item .mrp-section {
  background-color: #f4f3f2;
  color: #231f20;
  font: 14px ProximaNovaA-Regular;
  position: absolute;
  bottom: 0px;
  bottom: 0px;
  right: 0px;
  left: 0;
  padding: 5px; }

.result-container .results-main .right-panel .items-container .item .mrp-section .price-section {
  margin-bottom: 5px;
  font-weight: bold; }

.result-container .results-main .right-panel .items-container .item .mrp-section .disc-price {
  color: #6e6e71;
  text-decoration: line-through;
  margin-right: 10px; }

.result-container .results-main .right-panel .items-container .item .mrp-section .org-price {
  font-weight: bold; }

.result-container .results-main .right-panel .items-container .item .mrp-section .add-item-section {
  font-size: 14px; }

.result-container .results-main .right-panel .items-container .item .mrp-section .add-item-section .act-btn {
  font-size: 14px;
  display: inline-block;
  width: 19px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  background: #c84258;
  color: #fff;
  font-weight: bold; }

.result-container .results-main .right-panel .items-container .item .mrp-section .add-item-section .quantity-sec {
  display: inline-block;
  min-width: 20px;
  margin-left: 1px;
  margin-right: 1px; }

.result-container .results-main .right-panel .items-container .item .brand {
  color: #999;
  text-align: center;
  font: 11px ProximaNovaA-Regular;
  margin-bottom: 2px; }

.result-container .results-main .right-panel .items-container .item .desc {
  color: #000;
  font: 13px ProximaNovaA-Regular;
  text-align: center;
  position: relative; }

.result-container .results-main .right-panel .items-container .item .fa-share-alt {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px; }
